<div class="row">
	<div class="well col-md-8">
		<h3><%= link_to post.title, post_path(post) %></h3>			
		<p><%= simple_format(post.content) %></p><br /><br />	
		<hr>
		<h5>Posted by <%= "#{post.user.name}" %></h5>
		<hr>
		<%= render 'categories/categories', categories: post.categories%>
	</div>
</div>

