<%= render 'shared/title', title: 'New Post' %>
<div class="row">
	<%= render 'postform', post: @post %>
</div>
<br>
<div class="row">
	<span><%= link_to "Back to Main page", posts_path %></span>
</div>