<%= render 'shared/title', title: "Introduction of this website" %>
<div class="row">
	<h3 style="color: darkblue">Feel free to validate by using user / password: 
			<b style="color: blue">"Hal / 1234" or "Admin / 12345"</b></h3>
	<div class="well col-md-8" style="background-color: transparent">
		
		<ol class="list-group" style="font-size: 20px; margin-left: 50px">
			<li>Visitor has read-only permission.</li>
			<li>Logged in user can create post / leave comment / add category.</li>
			<li>Only the poster can update / delete post.</li>
		  <li>Added favicon in browser tab.</li> 
		  <li>Added flash notice for incorrect username/password message.</li>
		  <li>Fixed navbar on top / Fixed footer on bottom.</li>
		  <li>Posts are shown in descent order.</li>
		  <li>Posts can be set as visible / invisible.</li>
		  <li>Admin user can manage all posts.</li>
		</ol>
	</div>
<div>