<%= render 'shared/title', title: "Instroduction of this website" %>
<div class="row">
	<div class="well col-md-8">
		<ol class="list-group" style="font-size: 24px; margin-left: 50px">
			<li>Vistor has read-only permission.</li>
		  <li>Poster can update or delete his/her post.</li>
		  <li>Logged in user can create post.</li>
		  <li>Logged in user can leave comment.</li>
		  <li>Logged in user can add category.</li>
		</ol>
	</div>
<div>