<%= render 'shared/title', title: "Instroduction of this website" %>
<div class="row">
	<div class="well col-md-8" style="background-color: transparent">
		<ol class="list-group" style="font-size: 20px; margin-left: 50px">
			<li>Vistor has read-only permission.</li>
		  <li>Poster can update or delete his/her post.</li>
		  <li>Logged in user can create post.</li>
		  <li>Logged in user can leave comment.</li>
		  <li>Logged in user can add category.</li>
		  <li>Added favicon on browser tab.</li>
		  <li>Fixed navbar on top.</li>
		  <li>Fixed footer on bottom.</li>
		  <li>Added flash notice for incorrect username/password login message.</li>
		</ol>
	</div>
<div>