<!-- <h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p> -->

<%= render 'shared/title', title: @post.title.upcase %>
<%= render 'post', post: @post %>
<%= render 'comments', post: @post %>


<br>
<div class="row">
	<%= link_to "Back to Main page", posts_path %>
</div>
