<% categories.each do |category| %>
	<% case category.id %>
		<% when 1 %>
			<span class="btn btn-success btn-sm">
		<% when 2 %>
			<span class="btn btn-info btn-sm">
		<% when 3 %>
			<span class="btn btn-warning btn-sm">
		<% when 4 %>
			<span class="btn btn-primary btn-sm">
		<% when 5 %>
			<span class="btn btn-link btn-sm">
		<% else %>
			<span class="btn btn-default btn-sm">
		<% end%>
		<%= link_to "#{category.name}", category_path(category), {:style=>'color:#FFFFFF;', :class => "css_class"} %>
		<%#= category.name %>
	</span>
<% end %>