<%= render 'shared/title', title: 'Category List' %>
<% if logged_in? %>
	<li><%= link_to "Add New Category", new_category_path %></li>
<% end %>
<hr>
<%= render 'categories', categories: @categories %>
<hr>
<h5>Click tags to view associated posts...</h5>