<div class="navbar navbar-inverse navbar-fixed-bottom" style="height: 50px">
	<div class="container">
		<div class="navbar-text pull-left">
			<p>© 2016 - NTU-ROR-266 - Final Project - Hal's Postboard. </p>
		</div>
	</div>
</div>